asn1crypto==1.2.0
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==3.2
Flask==1.1.1
Flask-Cors==3.0.8
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
neo4j-driver==1.7.2
neobolt==1.7.15
neomodel==3.3.2
neotime==1.7.4
numpy==1.17.3
pandas==0.25.3
pbr==5.4.4
psycopg2==2.8.4
pybliometrics==2.2.2
pycparser==2.19
pyOpenSSL==19.0.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
urllib3==1.24.2
Werkzeug==0.16.0
win-inet-pton==1.1.0
wincertstore==0.2
